<div class="col-sm-3 portfolio-item">
    <a href="#portfolioModal{{ include.id }}" class="portfolio-link" data-toggle="modal">
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
            </div>
        </div>
        <img src="{{ include.src }}" class="img-responsive" alt="">
    </a>
</div>
{% include item_modal.html
  id = include.id
  src= include.src
  title= include.title
  text= include.text
  date= include.date
  tools= include.tools
%}
